<template name="HomePublic" data-smooth-scroll-offset="77">
		{{> HomePublicHomeJumbotron}}
</template>

<template name="HomePublicHomeJumbotron">
	<div class="main-container">
			<section class="cover height-80 imagebg text-center section--ken-burns bg-publichome" data-overlay="6">
					<div class="background-image-holder"> <img alt="background" src="img/nonprofit-5.jpg"> </div>
					<div class="container pos-vertical-center">
							<div class="row">
									<div class="col-md-8 col-lg-7">
											<h1> 98% of your money brings fresh food to hungry children.</h1>
											<p class="lead"> Join our monthly giving community and transform lives for children around the world. </p>
											<a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
			GIVE MONTHLY</span> </a>
									</div>
							</div>
					</div>
			</section>
			<section class="text-center unpad--bottom switchable cta cta-3 switchable--switch">
					<div class="container">
							<div class="row">
									<div class="col-md-6 col-lg-7">
											<div class="switchable__text">
													<h2>1 in 5 children lack access to fresh food. We’re on a mission to change that. <br></h2>
													<p class="lead"> We <i><b>save</b></i> <b><i>fresh food </i></b>from being <i><b>thrown away</b></i> in landfills and provide&nbsp;<b><i>nutritious</i></b>&nbsp;<i><b>meals</b></i> for thousands of <i><b>hungry children</b></i>. </p> <a class="btn btn--primary type--uppercase" href="#purchase-template"><span class="btn__text">MAKE A DONATION</span><span class="label">$1 = 5 MEALS</span>
							</a> </div>
									</div>
									<div class="col-md-6 col-lg-5"> <img alt="Image" class="block" src="img/nonprofit-2.jpg"> </div>
							</div>
					</div>
			</section>
			<section>
					<div class="container">
							<div class="row">
									<div class="col-md-12">
											<div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
													<div class="row justify-content-center p-5">
															<div class="col-lg-3">
																	<h4>Let's get you started</h4>
															</div>
															<div class="col-lg-4">
																	<p class="lead">Join our awesome giving community</p>
															</div>
															<div class="col-lg-4 text-center">
																	<a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">donate now</span> </a>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<section class="switchable feature-large">
					<div class="container">
							<div class="row justify-content-around">
									<div class="col-lg-5 col-md-6 switchable__text">
											<h2>What you get out of giving to this cause...</h2>
											<p class="lead"> When you give to ORGANIZATION, you're joining a movement of countless others with a shared belief that no child should go hungry. </p>
											<a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">JOIN THE COMMUNITY</span> </a>
									</div>
									<div class="col-lg-4 col-md-6 col-12">
											<div class="boxed boxed--lg boxed--border box-shadow-wide">
													<div class="slider" data-paging="true">
															<ul class="slides">
																	<li class="col-12">
																			<div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Mail-3 color--primary"></i>
																					<h4>Mailer Integrations</h4>
																					<p> Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for modern marketing campaigns </p> <a href="#">
																	Learn More
															</a> </div>
																	</li>
																	<li class="col-12">
																			<div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Air-Balloon color--primary"></i>
																					<h4>Diverse Icons</h4>
																					<p> Including the premium Icons Mind icon kit, Stack features a highly diverse set of icons suitable for all purposes. </p> <a href="#">
																	Learn More
															</a> </div>
																	</li>
																	<li class="col-12">
																			<div class="feature feature-3 text-center"> <i class="icon icon--lg icon-Bacteria color--primary"></i>
																					<h4>Modular Design</h4>
																					<p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity </p> <a href="#">
																	Learn More
															</a> </div>
																	</li>
															</ul>
													</div>
											</div>
									</div>
							</div>
					</div>
			</section>
			<section class="border--bottom text-center imagebg parallax space--xs bg-publichome" data-overlay="2">
					<div class="background-image-holder"> <img alt="background" src="img/nonprofit-5.jpg"> </div>
					<div class="container">
							<div class="row">
									<div class="col-md-12">
											<div class="modal-instance">
													<a class="btn type--uppercase modal-trigger" href="#"> <span class="btn__text">
				▶ Watch Overview
			</span> </a>
													<div class="modal-container">
															<div class="modal-content bg-dark" data-width="60%" data-height="60%"> <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe> </div>
													</div>
											</div> <span class="block--xs">and see how ORGANIZATION is making a difference</span> </div>
							</div>
					</div>
			</section>
			<section class="switchable feature-large">
					<div class="container">
							<div class="row justify-content-around">
									<div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/nonprofit-4.jpg"> </div>
									<div class="col-md-6 col-lg-5">
											<div class="switchable__text">
													<h2>Perfect for bootstrapped startups</h2>
													<p class="lead"> Launching an attractive and scalable website quickly and affordably is important for modern startups — Stack offers massive value without looking 'bargain-bin'. </p> <a href="#">Learn More »</a> </div>
									</div>
							</div>
					</div>
			</section>
			<section>
					<div class="container">
							<div class="row">
									<div class="col-md-4">
											<div class="feature feature-4 boxed boxed--lg boxed--border"> <i class="icon icon-Hand-Touch"></i>
													<h4>Interactive Elements</h4>
													<hr>
													<p> With rich modal and notification functionality and a robust suite of options, Stack makes building feature-heavy pages simple and enjoyable. </p>
													<a class="btn btn--primary" href="#"> <span class="btn__text">
											Learn More
									</span> </a>
											</div>
									</div>
									<div class="col-md-4">
											<div class="feature feature-4 boxed boxed--lg boxed--border"> <i class="icon icon-Hour"></i>
													<h4>Save Development Time</h4>
													<hr>
													<p> Drastically reduce the time it takes to move from initial concept to production-ready with Stack and Variant Page Builder. Your clients will love you for it! </p>
													<a class="btn btn--primary" href="#"> <span class="btn__text">
											Learn More
									</span> </a>
											</div>
									</div>
									<div class="col-md-4">
											<div class="feature feature-4 boxed boxed--lg boxed--border"> <i class="icon icon-Life-Safer"></i>
													<h4>Friendly Support</h4>
													<hr>
													<p> Our customers love the comfort that comes with six-months free support. Our dedicated support forum makes interacting with us hassle-free and efficient. </p>
													<a class="btn btn--primary" href="#"> <span class="btn__text">
											Learn More
									</span> </a>
											</div>
									</div>
							</div>
					</div>
			</section>
			<section class="unpad elaborate-form-1">
					<div class="row row--gapless">
							<div class="col-md-6 height-50 bg--primary">
									<div class="pos-vertical-center clearfix row no-gutters justify-content-center">
											<div class="col-lg-8"> <span class="h1">Join the Campaign.</span>
													<p class="lead"> Join our campaign to make our country a farer, more just place for all citizens. </p>
													<form>
															<div class="row">
																	<div class="col-md-12"> <input type="email" name="email" placeholder="Email Address"> </div>
																	<div class="col-md-7 col-6"> <input type="text" name="zip" placeholder="ZIP code"> </div>
																	<div class="col-md-5 col-6"> <button type="submit" class="btn btn--primary-1">Next</button> </div>
															</div>
													</form>
											</div>
									</div>
							</div>
							<div class="col-md-6 height-50 bg--primary-1">
									<div class="pos-vertical-center clearfix row no-gutters justify-content-center">
											<div class="col-lg-8"> <span class="h1">Then donate.</span>
													<p class="lead"> Our grass-roots campaign relies on the contributions of passionate patriots like you. </p>
													<form>
															<div class="row">
																	<div class="col-md-3 col-6">
																			<div class="input-radio input-radio--innerspan"> <span>$5</span> <input type="radio" name="donate" value="5"> <label> </label> </div>
																	</div>
																	<div class="col-md-3 col-6">
																			<div class="input-radio input-radio--innerspan"> <span>$15</span> <input type="radio" name="donate" value="15"> <label> </label> </div>
																	</div>
																	<div class="col-md-3 col-6">
																			<div class="input-radio input-radio--innerspan"> <span>$25</span> <input type="radio" name="donate" value="25"> <label></label> </div>
																	</div>
																	<div class="col-md-3 col-6">
																			<div class="input-radio input-radio--innerspan"> <span>$100</span> <input type="radio" name="donate" value="100"> <label></label> </div>
																	</div>
																	<div class="col-md-5 col-12"> <button type="submit" class="btn btn--primary">Act Now</button> </div>
															</div>
													</form>
											</div>
									</div>
							</div>
					</div>
			</section>
			<footer class="space--sm footer-2">
					<div class="container">
							<div class="row">
									<div class="col-sm-6 col-md-3 col-xs-6">
											<h6 class="type--uppercase">GET TO KNOW US</h6>
											<ul class="list--hover">
													<li><a href="#">About Company</a></li>
													<li><a href="#">Our Team</a></li>
													<li><a href="#">Locations</a></li>
													<li><a href="#">History</a></li>
													<li><a href="#">Work With Us</a></li>
											</ul>
									</div>
									<div class="col-sm-6 col-md-3 col-xs-6">
											<h6 class="type--uppercase">CONNECT</h6>
											<ul class="list--hover">
													<li><a href="#">Developer Center</a></li>
													<li><a href="#">API Reference</a></li>
													<li><a href="#">Downloads</a></li>
													<li><a href="#">Tools</a></li>
													<li><a href="#">Developer Blog</a></li>
													<li><a href="#">Developer Forums</a></li>
											</ul>
									</div>
									<div class="col-sm-6 col-md-3 col-xs-6">
											<h6 class="type--uppercase">RESOURCE</h6>
											<ul class="list--hover">
													<li><a href="#">Help Center</a></li>
													<li><a href="#">Live Chat</a></li>
													<li><a href="#">Downloads</a></li>
													<li><a href="#">Press Kit</a></li>
											</ul>
									</div>
									<div class="col-sm-6 col-md-3 col-xs-6">
											<h6 class="type--uppercase">GET INVOLVED</h6>
											<ul class="list--hover">
													<li><a href="#">Melbourne</a></li>
													<li><a href="#">London</a></li>
													<li><a href="#">New York</a></li>
													<li><a href="#">San Francisco</a></li>
											</ul>
									</div>
							</div>
							<div class="row">
									<div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year">2018</span> Stack Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
									<div class="col-sm-6 text-right text-left-xs">
											<ul class="social-list list-inline list--hover">
													<li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
													<li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
													<li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
													<li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
											</ul>
									</div>
							</div>
					</div>
			</footer>
	</div>
</template>

<template name="jumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Dev App
			</h1>
			<p id="jumbotron-text">
				Test app for Development
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>
