<template name="why">
  <div class="main-container">
      <section class="switchable bg--secondary">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-5 col-md-7">
                      <div class="mt--2">
                          <h1> Streamline your workflow with Stack </h1>
                          <p class="lead"> Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes. </p>
                          <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
        Launch The Builder
      </span> </a> <span class="block type--fine-print">or <a href="index.html">view the demos</a></span> </div>
                  </div>
                  <div class="col-lg-7 col-md-5 col-12"> <img alt="Image" src="img/device-2.png"> </div>
              </div>
          </div>
      </section>
      <section class="cover text-center bg--secondary">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6">
                      <h1>Streamline your workflow</h1>
                      <p class="lead"> Build lean, beautiful websites with a clean and contemporary look to suit a range of purposes. </p>
                      <a class="btn btn--primary type--uppercase" href="#customise-template"> <span class="btn__text">
      Launch The Builder
    </span> </a> <span class="block type--fine-print">or <a href="index.html">view the demos</a></span> </div>
                  <div class="col-md-12">
                      <div class="triptych border--round"> <img alt="Image" src="img/agency-1.jpg"> <img alt="Image" src="img/agency-2.jpg"> <img alt="Image" src="img/blog-6.jpg"> </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="cover height-80 imagebg text-center section--ken-burns bg-btm-why-cta" data-overlay="4">
          <div class="background-image-holder"></div>
          <div class="container pos-vertical-center">
              <div class="row">
                  <div class="col-md-8 col-lg-7">
                      <h1> Build stylish, lean sites with Stack </h1>
                      <p class="lead"> Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. </p>
                      <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
      View The Demos
    </span> </a>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-lg-6">
                      <div class="cta">
                          <h2>Purchase Stack now and get lifetime free content updates</h2>
                          <p class="lead"> Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates. </p>
                          <a class="btn btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                      Purchase on Envato
                  </span> <span class="label">$18 USD</span> </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <footer class="space--sm footer-2">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Company</h6>
                      <ul class="list--hover">
                          <li><a href="#">About Company</a></li>
                          <li><a href="#">Our Team</a></li>
                          <li><a href="#">Locations</a></li>
                          <li><a href="#">History</a></li>
                          <li><a href="#">Work With Us</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Developers</h6>
                      <ul class="list--hover">
                          <li><a href="#">Developer Center</a></li>
                          <li><a href="#">API Reference</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Tools</a></li>
                          <li><a href="#">Developer Blog</a></li>
                          <li><a href="#">Developer Forums</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Support</h6>
                      <ul class="list--hover">
                          <li><a href="#">Help Center</a></li>
                          <li><a href="#">Live Chat</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Press Kit</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Locations</h6>
                      <ul class="list--hover">
                          <li><a href="#">Melbourne</a></li>
                          <li><a href="#">London</a></li>
                          <li><a href="#">New York</a></li>
                          <li><a href="#">San Francisco</a></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Stack Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                  <div class="col-sm-6 text-right text-left-xs">
                      <ul class="social-list list-inline list--hover">
                          <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
  </div>
</template>
