<template name="Register">
	<div class="main-container">
			<section class="space--xs imageblock switchable feature-large">
					<div class="imageblock__content col-lg-5 col-md-6 pos-right bg-register" data-overlay="6">
							<div class="background-image-holder"> </div>
					</div>
					<div class="container">
							<div class="row">
									<div class="col-lg-5 col-md-6">
										{{#if verificationEmailSent}}
										<div class="account-form">
											<h2>
												Thanks for signing up!
											</h2>
											<p>
												We've sent verification link to your e-mail address.
											</p>
											<br />			<button class="btn btn-lg btn-primary btn-block go-home" type="button" data-loading-text="Please wait...">
												OK
											</button>
										</div>
										{{else}}
											<h2>Create a Reach Cause account</h2>
											<hr class="short">
											<form id="register_form" class="" role="form">
													<div class="row">
														{{#if errorMessage}}
														<div class="alert alert-warning">
															{{errorMessage}}
														</div>
														{{/if}}
														<div class="col-12"> <input id="register_name" type="text" class="form-control" placeholder="Your Full Name" required autofocus> </div>
														<div class="col-12"> <input id="register_email" type="text" class="form-control" placeholder="Email Address" required> </div>
														<div class="col-12"> <input id="register_password" type="password" class="form-control" placeholder="Password" required> </div>
														<div class="col-12">
															<button class="btn btn--primary type--uppercase" type="submit" data-loading-text="Please wait...">
																Create Account
															</button>
														</div>
															<hr>
															<div class="col-12"> <span class="type--fine-print">By signing up, you agree to the <a href="#">Terms of Service</a></span> </div>
													</div>
													<p class="account-form-text-after">
														Already a member?
														<a href="{{pathFor 'login'}}">
															Sign in here
														</a>
													</p>
												</form>
												{{/if}}
									</div>
							</div>
					</div>
			</section>
	</div>
</template>
