<template name="AgenciesInsert">
	<div class="main-container">
		<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-8">
					<section class="text-left">
								{{> AgenciesInsertForm}}
					</section>
				</div>
		</div>
		<!--end of row-->
	</div>
</template>

<template name="AgenciesInsertForm">
	<div id="agencies-insert-form" class="">
		<h2 id="component-title">
			Add New Organization
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-agency_name">
				<label for="Agency_Name">
					Name
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Name" value="" class="form-control " autofocus="autofocus" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_address_1">
				<label for="Agency_Address_1">
					Address 1
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Address_1" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_address_2">
				<label for="Agency_Address_2">
					Address 2
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Address_2" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_city">
				<label for="Agency_City">
					City
				</label>
				<div class="input-div">
					<input type="text" name="Agency_City" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_state">
				<label for="Agency_State">
					State
				</label>
				<div class="input-div">
					<input type="text" name="Agency_State" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_zipcode">
				<label for="Agency_Zipcode">
					Zipcode
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Zipcode" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_phone">
				<label for="Agency_Phone">
					Phone
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Phone" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_fax">
				<label for="Agency_Fax">
					Fax
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Fax" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_email">
				<label for="Agency_Email">
					Email
				</label>
				<div class="input-div">
					<input type="text" name="Agency_Email" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-agency_url">
				<label for="Agency_URL">
					Web Address
				</label>
				<div class="input-div">
					<input type="text" name="Agency_URL" value="" class="form-control " data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<section class="text-left agency-photo">
				<div class="form-group  field-agency_photo input-radio input-radio--innerlabel">
					<div class="img-box">
						<input id="radio-1" type="radio" name="Agency_Photo" value="nonprofit-1" />
						<label class="bg-insert-1" data-overlay="9" for="radio-1">Girl In Window<br></label>
					</div>

					<div class="img-box">
						<input id="radio-2" type="radio" name="Agency_Photo" value="nonprofit-2" />
						<label class="bg-insert-2" data-overlay="9" for="radio-2">Girls At Water Well<br></label>

					</div>
					<div class="img-box">
						<input id="radio-3" type="radio" name="Agency_Photo" value="nonprofit-3" />
						<label class="bg-insert-3" data-overlay="9" for="radio-3">Kids Playing</label>

					</div>
					<div class="img-box">
						<input id="radio-4" type="radio" name="Agency_Photo" value="nonprofit-4" />
						<label class="bg-insert-4" data-overlay="9" for="radio-4">Kids Running</label>

					</div>
					<div class="img-box">
						<input id="radio-5" type="radio" name="Agency_Photo" value="nonprofit-5" />
						<label class="bg-insert-5" data-overlay="9" for="radio-5">Embracing Child</label>

					</div>
					<div class="img-box">
						<input id="radio-6" type="radio" name="Agency_Photo" value="nonprofit-6" />
						<label class="bg-insert-6" data-overlay="9" for="radio-6">Tall Tree</label>

					</div>
					<div class="img-box">
						<input id="radio-7" type="radio" name="Agency_Photo" value="nonprofit-7" />
						<label class="bg-insert-7" data-overlay="9" for="radio-7">Animal</label>

					</div>
					<div class="img-box">
						<input id="radio-8" type="radio" name="Agency_Photo" value="nonprofit-8" />
						<label class="bg-insert-8" data-overlay="9" for="radio-8">Family Services</label>

					</div>
					<div class="img-box">
						<input id="radio-9" type="radio" name="Agency_Photo" value="nonprofit-9" />
						<label class="bg-insert-9" data-overlay="9" for="radio-9">Poverty</label>

					</div>
					<div class="img-box">
						<input id="radio-10" type="radio" name="Agency_Photo" value="nonprofit-10" />
						<label class="bg-insert-10" data-overlay="9" for="radio-10">Overseas</label>

					</div>
				</div>
			</section>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
	</template>
