<template name="about">
  <div class="main-container">
      <section class="feature-large switchable">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-6 col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/inner-5.jpg"> </div>
                  <div class="col-lg-5 col-md-6">
                      <div class="heading-block">
                          <h2>Experience quality design and thoughfully crafted code.</h2>
                      </div>
                      <div class="text-block">
                          <h5>Premium Design</h5>
                          <p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity. </p>
                      </div>
                      <div class="text-block">
                          <h5>Quality Code</h5>
                          <p> Stack is built with customization and ease-of-use at its core — consistent markup and useful data attribute modifiers make rapid development simple. </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-overlay="4">
          <div class="background-image-holder"> <img alt="background" src="img/hero-1.jpg"> </div>
          <div class="container">
              <div class="row">
                  <div class="col-md-12"> <span class="label label--inline">Hot!</span> <span>Over 290 interface blocks, 140 demo pages and Variant Page Builder. <a href="#purchase-template">Purchase Stack</a> for $18 USD.</span> </div>
              </div>
          </div>
      </section>
      <section class="switchable feature-large switchable--switch">
          <div class="container">
              <div class="row justify-content-around">
                  <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/landing-11.jpg"> </div>
                  <div class="col-md-6 col-lg-5">
                      <div class="switchable__text">
                          <h2>Perfect for bootstrapped startups</h2>
                          <p class="lead"> Launching an attractive and scalable website quickly and affordably is important for modern startups — Stack offers massive value without looking 'bargain-bin'. </p> <a href="#">Learn More »</a> </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                          <div class="row justify-content-center p-5">
                              <div class="col-lg-3">
                                  <h4>Let's get you started</h4>
                              </div>
                              <div class="col-lg-4">
                                  <p class="lead"> Start building pages in your browser </p>
                              </div>
                              <div class="col-lg-4 text-center">
                                  <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                              Try Builder
                          </span> </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="feature-large switchable">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-6 col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="img/inner-5.jpg"> </div>
                  <div class="col-lg-5 col-md-6">
                      <div class="heading-block">
                          <h2>Experience quality design and thoughfully crafted code.</h2>
                      </div>
                      <div class="text-block">
                          <h5>Premium Design</h5>
                          <p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity. </p>
                      </div>
                      <div class="text-block">
                          <h5>Quality Code</h5>
                          <p> Stack is built with customization and ease-of-use at its core — consistent markup and useful data attribute modifiers make rapid development simple. </p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="switchable feature-large unpad--bottom">
          <div class="container">
              <div class="row justify-content-around">
                  <div class="col-md-6">
                      <div class="switchable__text">
                          <h2>Designed for companies, small teams and freelancers</h2>
                          <p class="lead"> Stack's visual style is simple yet distinct, making it an ideal starting point for your project whether it be a basic marketing site, or multi-page company presence. </p> <a href="#">Learn More »</a> </div>
                  </div>
                  <div class="col-md-6 col-lg-4 col-12 text-center"> <img alt="Image" src="img/device-1.png"> </div>
              </div>
          </div>
      </section>
      <section class="text-center cta cta-4 space--xxs border--bottom">
          <div class="container">
              <div class="row">
                  <div class="col-md-12"> <span class="label label--inline">Hot!</span> <span>Over 290 interface blocks, 140 demo pages and Variant Page Builder. <a href="#purchase-template">Purchase Stack</a> for $18 USD.</span> </div>
              </div>
          </div>
      </section>
      <section class="space--xs">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/blog-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Startups</h4>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/cowork-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Teams</h4>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/education-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Freelancers</h4>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </section>
      <section class="space--sm">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/blog-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Startups</h4>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/cowork-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Teams</h4>
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-6">
                      <a href="#" class="block">
                          <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                              <div class="background-image-holder"> <img alt="background" src="img/education-1.jpg"> </div>
                              <h4 class="pos-vertical-center">Freelancers</h4>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-lg-6">
                      <div class="cta">
                          <h2>Purchase Stack now and get lifetime free content updates</h2>
                          <p class="lead"> Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates. </p>
                          <a class="btn btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                      Purchase on Envato
                  </span> <span class="label">$18 USD</span> </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <footer class="space--sm footer-2">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Company</h6>
                      <ul class="list--hover">
                          <li><a href="#">About Company</a></li>
                          <li><a href="#">Our Team</a></li>
                          <li><a href="#">Locations</a></li>
                          <li><a href="#">History</a></li>
                          <li><a href="#">Work With Us</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Developers</h6>
                      <ul class="list--hover">
                          <li><a href="#">Developer Center</a></li>
                          <li><a href="#">API Reference</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Tools</a></li>
                          <li><a href="#">Developer Blog</a></li>
                          <li><a href="#">Developer Forums</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Support</h6>
                      <ul class="list--hover">
                          <li><a href="#">Help Center</a></li>
                          <li><a href="#">Live Chat</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Press Kit</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Locations</h6>
                      <ul class="list--hover">
                          <li><a href="#">Melbourne</a></li>
                          <li><a href="#">London</a></li>
                          <li><a href="#">New York</a></li>
                          <li><a href="#">San Francisco</a></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Stack Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                  <div class="col-sm-6 text-right text-left-xs">
                      <ul class="social-list list-inline list--hover">
                          <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
  </div>
</template>
