<template name="ourWork">
  <div class="main-container">
      <section class="imageblock switchable feature-large">
          <div class="imageblock__content col-lg-6 col-md-4 pos-right bg-ourwork" data-overlay="6">
              <div class="background-image-holder"></div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-7">
                      <h2>Stack is design-driven</h2>
                      <p class="lead"> Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner. </p>
                      <p class="lead"> Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple. </p>
                  </div>
              </div>
          </div>
      </section>
      <section class="imageblock switchable feature-large switchable--switch">
          <div class="imageblock__content col-lg-6 col-md-4 pos-right bg-ourwork-2" data-overlay="6">
              <div class="background-image-holder"></div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-7">
                      <h2>Stack is design-driven</h2>
                      <p class="lead"> Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner. </p>
                      <p class="lead"> Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away — Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple. </p>
                  </div>
              </div>
          </div>
      </section>
      <section class="imageblock switchable feature-large">
          <div class="imageblock__content col-lg-4 col-md-3 pos-right bg-ourwork-3" data-overlay="6">
              <div class="background-image-holder"></div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-7 col-md-8">
                      <h2>Design-driven and perfect for modern startups</h2>
                      <p class="lead"> Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. </p>
                      <div class="feature-large__group">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="feature feature-6"> <i class="icon icon--sm icon-Text-Effect color--primary"></i>
                                      <h5>Design Quickly</h5>
                                      <p> Combine blocks from a range of categories to build pages that are rich in visual style and interactivity </p>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="feature feature-6"> <i class="icon icon--sm icon-Post-Mail2 color--primary"></i>
                                      <h5>Collect Leads</h5>
                                      <p> Stack comes with integration for Mail Chimp and Campaign Monitor forms - ideal for launching modern marketing campaigns </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="feature-large feature-large-2">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-md-4 col-lg-3">
                      <h3>Experience quality</h3>
                      <p class="lead"> Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out, you'll be making attractive sites faster than any traditional HTML template. </p>
                  </div>
                  <div class="col-md-4 col-lg-4"> <img alt="Image" class="border--round box-shadow-wide" src="img/landing-7.jpg"> </div>
                  <div class="col-md-4 col-lg-2">
                      <hr class="short">
                      <p> Each purchase of Stack includes six months of free support, including access to our dedicated support forum. In addition to support you'll recieve lifetime updates, including new content and bug-fixes. </p>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="feature feature-1"> <img alt="Image" src="img/cowork-1.jpg">
                          <div class="feature__body boxed boxed--lg boxed--border">
                              <h3>Built for teams</h3>
                              <p class="lead"> Save time with a multitude of styled components designed to showcase your content </p> <a href="#">
                      Learn More
                  </a> </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="feature feature-1"> <img alt="Image" src="img/landing-1.jpg">
                          <div class="feature__body boxed boxed--lg boxed--border">
                              <h3>Modern Aesthetic</h3>
                              <p class="lead"> Save time with a multitude of styled components designed to showcase your content </p> <a href="#">
                      Learn More
                  </a> </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="feature feature-1"> <img alt="Image" src="img/inner-6.jpg">
                          <div class="feature__body boxed boxed--lg boxed--border">
                              <h3>Beautiful Markup</h3>
                              <p class="lead"> Save time with a multitude of styled components designed to showcase your content </p> <a href="#">
                      Learn More
                  </a> </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="text-center imagebg bg-btm-cta" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1" data-overlay="6">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-lg-6">
                      <div class="cta">
                          <h2>Purchase Stack now and get lifetime free content updates</h2>
                          <p class="lead"> Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates. </p>
                          <a class="btn btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                      Purchase on Envato
                  </span> <span class="label">$18 USD</span> </a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <footer class="space--sm footer-2">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Company</h6>
                      <ul class="list--hover">
                          <li><a href="#">About Company</a></li>
                          <li><a href="#">Our Team</a></li>
                          <li><a href="#">Locations</a></li>
                          <li><a href="#">History</a></li>
                          <li><a href="#">Work With Us</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Developers</h6>
                      <ul class="list--hover">
                          <li><a href="#">Developer Center</a></li>
                          <li><a href="#">API Reference</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Tools</a></li>
                          <li><a href="#">Developer Blog</a></li>
                          <li><a href="#">Developer Forums</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Support</h6>
                      <ul class="list--hover">
                          <li><a href="#">Help Center</a></li>
                          <li><a href="#">Live Chat</a></li>
                          <li><a href="#">Downloads</a></li>
                          <li><a href="#">Press Kit</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-6">
                      <h6 class="type--uppercase">Locations</h6>
                      <ul class="list--hover">
                          <li><a href="#">Melbourne</a></li>
                          <li><a href="#">London</a></li>
                          <li><a href="#">New York</a></li>
                          <li><a href="#">San Francisco</a></li>
                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Stack Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                  <div class="col-sm-6 text-right text-left-xs">
                      <ul class="social-list list-inline list--hover">
                          <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                          <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
  </div>
</template>
