/*! Place your custom styles here */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: 55px !important;
    margin-top: 4px;
    width: 35px;
    border-radius: 60px;
    margin-top: -9px;
}


.card-1 .card__avatar img {
  border-radius: 50px;
}

button#dataview-insert-button {
    padding: 10px 40px;
    background: #4a90e2;
    text-transform: uppercase;
    border: 0;
}


input#dataview-search-input {
    margin-left: 16px;
    width: 47vw;
}
