<template name="Login">
<!--	{{> clearnav}} -->
	<div class="main-container">
			<section class="height-100 imagebg text-center bg-login" data-overlay="9">
					<div class="background-image-holder"></div>
					<div class="container pos-vertical-center">
							<div class="row">
									<div class="col-md-7 col-lg-5">
											<h2>Login to continue</h2>
											<a class="btn block btn--icon bg--facebook type--uppercase" href="#"> <span class="btn__text">
													<i class="socicon-facebook"></i>
													Login with Facebook
											</span> </a>
															<a class="btn block btn--icon bg--twitter type--uppercase" href="#"> <span class="btn__text">
													<i class="socicon-twitter"></i>
													Login with Twitter
											</span> </a>
											<hr>
											<p>Login using your Stack account</p>

											<form id="login_form" role="form">
													<div id="login-with-password" class="row">
														{{#if errorMessage}}
															{{errorMessage}}
														{{/if}}
															<div class="col-md-12">
																<input id="login_email" type="text" placeholder="Email address" required autofocus>
															</div>
															<div class="col-md-12">
																<input id="login_password" type="password" placeholder="Password" required>
															</div>
															<div class="col-md-12">
																<button class="btn btn--primary type--uppercase" type="submit" data-loading-text="Please wait...">Sign in</button>
															</div>
													</div>
											</form>
											<span class="account-form-text-after type--fine-print block" id="register-link">
												Not a member?
												<a href="{{pathFor 'register'}}">
													Sign up here
												</a>
											</span>
											<span class="account-form-text-after type--fine-print block" id="forgot-password-link">
												Forgot password?
												<a href="{{pathFor 'forgot_password'}}">
													Click here
												</a>
											</span>
									</div>
							</div>
					</div>
			</section>
	</div>
</template>
